/* 
====== 
Variables 
======
*/
:root {
	--mainYellow: #ffe600;
	--mainWhite: #fff;
	--offWhite: #eee;
	--mainBackground: #eee;
	--buttonColor: #3483fa;
	--mainOverlay: rgba(35, 10, 36, 0.4);
	--mainBlack: #333;
	--mainGrey: #999;
	--darkGrey: #666;
	--smallMargin: 16px;
	--largeMargin: 32px;
	--mainTransition: all 0.3s linear;
	--mainSpacing: 0.3rem;
	--lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
	--darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
	--mainBorderRadius: 0.25rem;
	--smallWidth: 85vw;
	--maxWidth: 40rem;
	--fullWidth: 1800px;
	--drinkWidth: 1170px;
}
/* 
====== 
Global Styles 
======
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Arial', 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--mainBlack);
	background: var(--mainBackground);
	line-height: 1.4;
	font-size: 18px;
	font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--slantedFont);
	margin-bottom: 1.25rem;
	letter-spacing: var(--mainSpacing);
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: var(--mainBlack);
}
img {
	width: 100%;
	display: block;
}

/* 
====== 
Navbar
======
*/
.navbar {
	background: var(--mainYellow);
	width: 100%;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-items: stretch;

	/* border-bottom: 2px solid var(--primaryColor); */
	/* box-shadow: var(--lightShadow); */
}
.nav-center {
	padding: 0 10%;
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0;
}

.logo {
	padding-right: 40px;
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	width: auto;
	align-self: center;
	grid-column: 2;
}

/* 
====== 
Error
======
*/
.error-page {
	display: flex;
	justify-content: center;
}
.error-container {
	text-align: center;
	text-transform: capitalize;
}

/* 
====== 
Form-navbar
======
*/
.search {
	margin-top: 1rem;
	padding-bottom: 0;
}

.search-form {
	max-width: 600px;
	padding-top: 8px;
	padding-bottom: 8px;
	overflow: auto;
	height: 56px;
	position: relative;
}

.form-nav {
	flex: 1;
}

.form-control {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.form-control input {
	box-sizing: border-box;
	margin: 8px 0;
	border: 0;
	outline: none;
	border-radius: 0px;
	margin: 0px;
	width: 95%;
	background-color: white;
	height: 30px;
	padding: 12px 20px;
}

.form-control button {
	border: 0;
	outline: none;
	padding: 0px;
	border: none;
	top: 2px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	vertical-align: top;
	background-color: var(--offWhite);
	/* transform: translateX(2px); */
}

.form-control img {
	padding: 5px 5px;
	height: inherit;
	/* transform: translateX(2px); */
}

/* 
====== 
marketplace
======
*/

.products {
	background-color: var(--mainWhite);
	margin: 0 10%;
}

.product {
	display: flex;
}

.product-info-left {
	display: flex;
	flex-direction: column;
	width: 75%;
}

.product-info-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 25%;
}

.product-info {
	display: flex;
	top: 50%;
	width: 100%;
}

.product img {
	padding: var(--smallMargin);
	width: 180px;
	height: 180px;
	border-radius: 4px;
}

.product-price {
	display: flex;
	margin: var(--largeMargin) 0;
	font-size: 24px;
}

.product-price p {
	font-size: 24px;
}

.product-price img {
	margin: auto 1rem;
	height: 15px;
	width: 15px;
	padding: 0 0;
}

.product-state {
	padding: 12px 20px;
	text-align: right;
	font-size: 12px;
}

.product-title {
	font-size: 18px;
}

.product-line {
	margin: auto;
	width: 90%;
	border: 0;
	background-color: var(--offWhite);
	height: 1px;
}

/* 
====== 
Single Item
======
*/

.single-item {
	background-color: var(--mainWhite);
	margin: 0 10%;
}

.single-item-container {
	display: flex;
}
.single-item-left {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.single-item-left img {
	display: flex;
	align-self: center;
	width: 680px;
}

.single-item-description {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: var(--largeMargin);
}

.single-item-description-title {
	font-size: 28px;
	margin-bottom: var(--largeMargin);
	color: var(--mainBlack);
	font-weight: bold;
}

.single-item-description-text {
	font-size: var(--smallMargin);
	margin-bottom: var(--largeMargin);
}

.single-item-right {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.single-item-condition {
	font-size: 14px;
	margin-top: var(--largeMargin);
}

.single-item-title {
	font-size: 24px;
	margin-top: var(--smallMargin);
}

.single-item-price {
	display: flex;
	flex-direction: row;
	font-size: 46px;
	margin-top: var(--largeMargin);
}

.single-item-price-small {
	display: flex;
	font-size: 0.5em;
	line-height: 2.2em;
	vertical-align: text-bottom;
	margin-left: 0.05em;
}

.single-item-button {
	cursor: pointer;
	margin-top: var(--largeMargin);
	margin-right: var(--largeMargin);
	height: 35px;
	border: 0;
	background-color: var(--buttonColor);
	color: var(--offWhite);
	border-radius: 3px;
}

/* 
====== 
Breadcrumb
tomado y adaptado de: https://www.w3schools.com/howto/howto_css_breadcrumbs.asp
======
*/

/* Style the list */
ul.breadcrumb {
	padding: var(--smallMargin) 10%;
	list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
	text-transform: capitalize;
	display: inline;
	font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
	padding: 8px;
	color: black;
	content: '>\00a0';
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
	color: var(--mainGrey);
	text-decoration: none;
}

/* different color for the last link inside the list */
ul.breadcrumb li:last-child a {
	color: var(--darkGrey);
	font-weight: bold;
	text-decoration: none;
}
